<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TYPES</title>
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="jquery/jquery.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="bootstrap/js/bootstrap.js"></script>
      <!-- d3.js -->
      <script src="d3/d3.js"></script>
      
      <script src="javascripts/movieKeywords.js"></script>
  </head>
  <body>
      <div class="container theme-showcase" role="main">
          <div class="jumbotron">
              <h1>Keyword Cloud</h1>
              <p>It loads continuously</p>
          </div>
          
          <div id="data">
          </div>
  </body>
</html>