<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MOVIES</title>
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="jquery/jquery.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="bootstrap/js/bootstrap.js"></script>
      <script src="mustache/mustache.js"></script>
      
      <script src="javascripts/moviePager.js"></script>
      <script id="movieTpl" type="text/template">
        <tr>
            <td>#{{offset}}</td>
            <td>{{MovieID}}</td>
            <td>{{Rating.Rating}}</td>
        </tr>
      </script>
  </head>
  <body>
      <div class="container theme-showcase" role="main">
          <div class="jumbotron">
              <h1>A list of all movies</h1>
              <p>Please give it some time to load...</p>
          </div>

          <nav>
            <ul id="pages" class="pagination">
            </ul>
          </nav>
          <table class="table">
            <thead>
              <tr>
                <th id="index">Number</span></th>
                <th id="name">Name</th>
                <th id="rating">Rating</th>
              </tr>
            </thead>
            <tbody id="movieList">
            </tbody>
          </table>
      </div>

        <!-- Modal -->
        <div id="myModal" class="modal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Loading data</h4>
              </div>
              <div class="modal-body">
                <p>This modal will auto-close when all data is loaded.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
  </body>
</html>